.App{
  display: grid;
  grid-template-columns: 200px 3fr;
  min-height: 100vh;
  grid-template-areas: "header header" "sidebar main";
  grid-template-rows: 1fr 6fr;
  background:gray;

}

.header{
  grid-area: header;
}


.read-the-docs {
  color: #888;
}

.opened{
  display: block;
}
.closed{
   display: none;
}
main{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr) );
  padding: 10px;
  gap:20px 10px;
  grid-auto-flow: dense;
}
main img{
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.featured{
  grid-column: span 2;
}
.featured3{
  grid-column: span 3;
}